// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey:#141211;
$color-hint-of-red: #f4f3f2;
$color-cloudy: #aea29a;
$color-swiss-coffee: #d7cfcb;
$color-moon-mist: #c8c8b6;
$color-whisper: #EAE9E9;
$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-fair-pink: #EAE2DE;
$color-woodland: #62664A;
$color-submarine: #92A7A6;
$color-sambuca: #3D2E25;
$color-equator: #E0B363;
$color-finch: #727254;
$color-green-white: #DEDED2;

// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
