.breadcrumbs {
  &__list {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 20px 0 0;
    display: flex;
    align-items: center;
    gap: 0 24px;

    @include vp-1023 {
      padding-top: 20px;
    }
    @include vp-767 {
      padding-top: 12px;
      margin-bottom: 22px;
      gap: 15px;
    }
  }


  &__link {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: $color-bokara-grey;

    @include vp-767 {
      font-size: 10px;
      line-height: 12px;
    }

    &:disabled {
      color: $color-cloudy;
    }

    &:not(span) {
      &::after {
        content: "/";
        position: absolute;
        top: 50%;
        right: -11px;
        transform: translate3d(0, -50%, 0);
      }
    }
  }
}
