.catalog {
  margin-bottom: 116px;

  @include vp-1023 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__title {
    font-size: 56px;
    line-height: 56px;
    font-weight: 400;
    margin: 0 0 40px;
    letter-spacing: -0.04em;

    @include vp-1023 {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 18px;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 1330px) {
      gap: 10px;
      margin-bottom: 28px;
    }

    @include vp-767 {
      display: none;
      position: relative;
      justify-content: flex-end;
    }
  }

  &__filter-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include vp-1023 {
      gap: 5px;
    }

    @include vp-767 {
      display: none;
      position: relative;
    }

    &--sort {
      gap: 20px;

      @media (max-width: 1440px) {
        gap: 10px;
      }

      @include vp-1023 {
        display: none;
      }
    }
  }

  &__filter-options {
    width: 48px;
    height: 48px;
    background-color: $color-green-white;
    color: $color-bokara-grey;
    border-radius: 50%;
    display: none;
    border: none;

    @include vp-1023 {
      display: block;
      position: absolute;
      right: 0;
      top: -5px;
    }
    @include vp-767 {
      right: 0;
      top: -65px;
      width: 40px;
      height: 40px;
    }
  }

  &__filter-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 1440px) {
      gap: 10px;
    }
  }

  &__filter-title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $color-bokara-grey;
    margin: 0;
    padding: 0;
  }

  &__filter-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $color-bokara-grey;
    text-decoration: none;
    transition: color 0.3s;
    gap: 0 4px;

    &:hover,
    &:focus-visible {
      color: $color-green-white;
    }
  }

  &__filter-btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $color-bokara-grey;
    background-color: $color-whisper;
    border-radius: 60px;
    border: none;
    padding: 10px 15px;
    height: 38px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: $color-green-white;
    }
  }
}