.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  gap: 20px;


  @include vp-767 {
    gap: 10px;
  }

  &--viewed {
    gap: 25px;

    @include vp-1023 {
      gap: 14px;
    }

    @include vp-767 {
      gap: 5px;
    }

    .product-card__title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 5px;
      text-transform: none;

      @include vp-1023 {
        font-size: 14px;
        line-height: 18px;
      }

      @include vp-767 {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .product-card__price {
      margin-bottom: 15px;
      gap: 5px;

      @include vp-767 {
        margin-bottom: 12px;
      }

      @media (max-width: 360px) {
        flex-direction: column;
      }
    }

    .product-card__current {
      font-size: 14px;
      line-height: 18px;

      @include vp-1023 {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .product-card__price-old {
      font-size: 12px;
      line-height: 16px;

      @include vp-1023 {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }




  &__details {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
  }

  &__link-img {
    display: block;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

    &:hover,
    &:focus-visible {
      outline: none;
      filter: brightness(70%);

      .product-card__details {
        display: block;
      }
    }
  }

  &__picture {
    flex-shrink: 0;
    overflow: hidden;
  }

  &__discount {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 63px;
    height: 36px;
    background-color: $color-hint-of-red;
    border-radius: 60px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include vp-1023 {
      width: 51px;
      height: 28px;
      font-size: 10px;
      line-height: 12px;
      top: 13px;
    }

    @include vp-767 {
      width: 47px;
      height: 22px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 0;
  }

  &__brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    // @include vp-767 {
    //   gap: 10px;
    // }
  }

  &__brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 20px;
    padding: 6px;
    margin: 0;
    border-radius: 4px;
    background-color: $color-bokara-grey;
    color: $color-white;
    cursor: pointer;

    @include vp-767 {
      width: 56px;
      height: 18px;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: #3B332F;
    }
  }

  &__circles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__circle-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;

    @include vp-1023 {
      width: 16px;
      height: 16px;
    }

    @include vp-767 {
      width: 12px;
      height: 12px;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      box-shadow: 2px 5px 5px 0px #00000033;
    }


    &--pink {
      background-color: $color-fair-pink;
    }

    &--woodland {
      background-color: $color-woodland;
    }

    &--submarine {
      background-color: $color-submarine;
    }

    &--sambuca {
      background-color: $color-sambuca;
    }

    &--equator {
      background-color: $color-equator;
    }
  }

  &__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: $color-cloudy;
    margin: 0 0 2px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 10px;
      line-height: 12px;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 4px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: $color-bokara-grey;
    margin: 0 0 10px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-green-white;
    }

    @include vp-1023 {
      font-size: 18px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
    }
  }

  &__price {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px;
    gap: 10px;
  }

  &__price-current {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color-bokara-grey;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__price-old {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: $color-cloudy;

    @include vp-1023 {
      font-size: 12px;
      line-height: 16px;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__favorite {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    gap: 25px;

    @include vp-1023 {
      gap: 15px;
    }
  }

  &__user-icon {
    width: 24px;
    height: 24px;
    pointer-events: none;

    @include vp-1023 {
      width: 20px;
      height: 20px;
    }
  }
}