.products {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @media (max-width: 1440px) {
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @include vp-1023 {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 30px;
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px 10px;
    }
  }
}