.subscribe {
  border: 1px solid #A6A687;
  background-color: #DEDED2;
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-bottom: 46px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
    align-items: center;
    justify-content: space-between;
    padding: 48px 80px;

    @media (max-width: 1440px) {
      padding: 40px 60px;
    }

    @include vp-1023 {
      padding: 30px 40px;
      gap: 25px 0;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      padding: 20px 30px;
      gap: 20px;
    }
  }

  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $color-finch;
    max-width: 390px;

    @include vp-1023 {
      grid-column: 1 / span 2;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      text-align: center;
      text-wrap: nowrap;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      text-wrap: balance;
    }
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 60px;

    @include vp-1023 {
      grid-column: span 2;
      gap: 48px;
    }

    @include vp-767 {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__form {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    @include vp-767 {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #A6A687;
    color: $color-bokara-grey;
    background-color: transparent;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    @include vp-767 {
      height: 28px;
    }

    &::placeholder {
      color: $color-bokara-grey;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      background-color: transparent;
    }

    &:hover,
    &:focus-visible {
      border-bottom-color: $color-moon-mist;
      outline: none;
      color: $color-cloudy;

      &::placeholder {
        color: $color-cloudy;
      }
    }

    &:not(:placeholder-shown) {
      border: none;
      background-color: transparent;
      color: $color-bokara-grey;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }

    &.error {
      border-bottom-color: #ff3b30;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $color-finch;

    @include vp-767 {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__error-message {
    color: #ff3b30;
    font-size: 12px;
    margin-top: 5px;
    display: none;
  }

  &.visible {
    display: block;
  }
}