.viewed-products {
  margin-bottom: 125px;

  @include vp-1023 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }

  &__title {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;

    @include vp-1023 {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-1023 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 26px 8px;
      justify-content: space-between;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px 10px;
      justify-content: center;
    }
  }
}